
    <% if (success && success.length > 0) { %>
      <% success.forEach(function(msg){ %>
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
          <%= msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% }) %>
    <% } %>




    <% if (error && error.length > 0) { %>
      <% error.forEach(function(msg){ %>
        <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
          <%= msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% }) %>
    <% } %>
  

<!-- <div class="alert alert-danger d-flex align-items-center" role="alert">
 
    <% if(error && error.length > 0) { %>
      <%= error %>
    <% } %>
  </div> -->