<% layout('layouts/boilerplate') %>
<div class="row mt-4">
    <div class="col-6 offset-3 ">
     <h1>Sign Up on WonderLust</h1>
     <form action="/register" method="post" novalidate class="needs-validation">
    <div class="mb-3">
    <label for="Username" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" required >
    <div class="valid-feedback">
      Looks good!
    </div>
    </div>
    <div class="row">
       <div class="mb-3 ">
     <label for="email" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" required>
    <div class="invalid-feedback">
      Please provide a valid email.
    </div>
    </div>
    </div>
    <div class="row">
       <div class="mb-3">
     <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" required>
    <div class="invalid-feedback">
      Please provide a valid password.
    </div>
    </div>
    </div>
    <button type="submit" class="btn btn-success  mb-5">Sign Up</button>
     </form>
     </div>
      </div>
    
</body>